bidict==0.21.2
Brotli==1.0.9
certifi==2023.5.7
cffi==1.16.0
charset-normalizer==3.1.0
click==8.0.1
cmake==3.26.3
colorama==0.4.6
conan==2.0.9
ConanTools==0.4.3
cryptography==41.0.4
dnspython==2.2.1
eventlet==0.33.0
fasteners==0.18
Flask==2.0.1
Flask-Compress==1.10.1
Flask-SocketIO==5.1.1
greenlet==1.1.2
idna==3.4
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.9.3
MarkupSafe==2.0.1
opcua==0.98.13
patch-ng==1.17.4
pycparser==2.21
pygdbmi==0.10.0.1
Pygments==2.10.0
pyserial==3.5
python-dateutil==2.8.2
python-engineio==4.2.1
python-socketio==5.4.0
pytz==2023.3.post1
PyYAML==6.0
requests==2.31.0
six==1.16.0
urllib3==1.26.16
Werkzeug==2.0.1
